<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>flask test</title>
		<script>
'use strict'
const doFetch = () => {
	fetch(location.href)
		.then(response => response.text())
		.then(text => console.log(text));
};
const doXhr = () => {
	const xhr = new XMLHttpRequest();
	xhr.open('GET', location.href);
	xhr.send();
	xhr.onload = () => {
		console.log(xhr.response);
	};
};
		</script>
	</head>
	<body>
		<div><button onclick='doFetch()'>doFetch</button></div>
		<div><button onclick='doXhr()'>doXhr</button></div>

		<table>
			<thead>
				<th>key</th>
				<th>value</th>
			</thead>
			<tbody>
				{% for key, value in request.headers.items() %}
				<tr>
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
